<header>
  <p>Página inicial de {{title}}</p>
  <ul>

    <li><a routerLink="">Menu</a></li>
    <li><a routerLink="/login">Login</a></li>
    <li><a routerLink="/record">record</a></li>
    <li><a routerLink="/recover-pwd">recover-pwd</a></li>
    <li><a routerLink="/edit-account">edit-account</a></li>
    <li><a routerLink="/request-management">request-management</a></li>
    <li><a routerLink="/appointment-management">appointment-management</a></li>
    <li><a routerLink="/petition-detail">petition-detail</a></li>
    <li><a routerLink="/appointment-detail">appointment-detail</a></li>
    <li><a routerLink="/medical-history">medical-history</a></li>
    <li><a routerLink="/appointment-assignment">appointment-assignment</a></li>

  </ul>
  </header>
  <router-outlet></router-outlet>
  <footer>
  <p>Universidad del Quindío - 2023</p>
  </footer>